<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<div class="index_table clearfix">
<table>
  <tr>
    <th>お気に入り一覧</th>
  </tr>

<% @favorites_blogs.each do |blog| %>
  <tr class="table_bottom">
    <td><%= blog.content %></td>
    <td class="link_btn"><%= link_to "Show", blog_path(blog.id), class: "label label-primary glyphicon glyphicon-hand-left" %></td>
    <% if current_user.id === blog.user_id %>
    <td class="link_btn"><%= link_to "Edit", edit_blog_path(blog.id), class: "label label-success glyphicon glyphicon-edit" %></td>
    <td class="link_btn"><%= link_to 'Delete', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "label label-danger glyphicon glyphicon-trash" %></td>
    <% else %>
    <% end %>
    </tr>
<% end %>
</table>
</div>