<!DOCTYPE html>
<html>
  <head>
    <title>Exam04</title>
    <meta name="viewport" content="width=device-width"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Twitter clone", tops_path, class: "navbar-brand" %>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "トップ", tops_path %></li>
        <li><%= link_to "つぶやき一覧", blogs_path %></li>
        <li><%= link_to "新規投稿", new_blog_path %></li>
      </ul>
    </div>
  </div>
</nav>

  <%= yield %>
  
  <footer>
    <p>1804期 Kyohei</p>
  </footer>
  
  </body>
</html>
